
.ant-timeline-item-content {
  font-size: 48px; 
  padding: 0 25px;/* Adjust the font size as per your requirement */
}
.content-container{
  padding: 24px;
}
@media (max-width:500px){
  .content-container{
    padding: 12px;
  }
  .header-main{
    padding: 0 10px;
  }
}





